#import pandas and numpy

In [1]:
import pandas as pd
import numpy as np

#Read csv file

In [3]:
Sales = pd.read_csv('sales_dataset.csv')
Sales

,Unnamed: 0,Date,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,0,2023-11-24,Male,34,Beauty,3,50,150
1,1,2023-02-27,Female,26,Clothing,2,500,1000
2,2,2023-01-13,Male,50,Electronics,1,30,30
3,3,2023-05-21,Male,37,Clothing,1,500,500
4,4,2023-05-06,Male,30,Beauty,2,50,100
...,...,...,...,...,...,...,...,...
995,995,2023-05-16,Male,62,Clothing,1,50,50
996,996,2023-11-17,Male,52,Beauty,3,30,90
997,997,2023-10-29,Female,23,Beauty,4,25,100
998,998,2023-12-05,Female,36,Electronics,3,50,150
999,999,2023-04-12,Male,47,Electronics,4,30,120

#all columns title

In [4]:
print(Sales.columns)

Index(['Unnamed: 0', 'Date', 'Gender', 'Age', 'Product Category', 'Quantity',
       'Price per Unit', 'Total Amount'],
      dtype='object')

#sales information

In [5]:
Sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1000 non-null   int64
 1   Date              1000 non-null   object
 2   Gender            1000 non-null   object
 3   Age               1000 non-null   int64
 4   Product Category  1000 non-null   object
 5   Quantity          1000 non-null   int64
 6   Price per Unit    1000 non-null   int64
 7   Total Amount      1000 non-null   int64
dtypes: int64(5), object(3)
memory usage: 62.6+ KB

#Last five dataset

In [34]:
Sales.tail()

,Unnamed: 0,Date,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
995,995,2023-05-16,Male,62,Clothing,1,50,50
996,996,2023-11-17,Male,52,Beauty,3,30,90
997,997,2023-10-29,Female,23,Beauty,4,25,100
998,998,2023-12-05,Female,36,Electronics,3,50,150
999,999,2023-04-12,Male,47,Electronics,4,30,120

#total number of every data in dataset

In [6]:
Sales.count()

Unnamed: 0          1000
Date                1000
Gender              1000
Age                 1000
Product Category    1000
Quantity            1000
Price per Unit      1000
Total Amount        1000
dtype: int64

#Check for null values in dataset

In [8]:
Sales.isnull().sum()

Unnamed: 0          0
Date                0
Gender              0
Age                 0
Product Category    0
Quantity            0
Price per Unit      0
Total Amount        0
dtype: int64

#Dates

In [15]:
Sales['Date']

0     2023-11-24
1     2023-02-27
2     2023-01-13
3     2023-05-21
4     2023-05-06
         ...
995   2023-05-16
996   2023-11-17
997   2023-10-29
998   2023-12-05
999   2023-04-12
Name: Date, Length: 1000, dtype: datetime64[ns]

#Clean the data

In [16]:
Sales['Date'] = pd.to_datetime(Sales['Date'])
print(Sales['Date'])

0     2023-11-24
1     2023-02-27
2     2023-01-13
3     2023-05-21
4     2023-05-06
         ...
995   2023-05-16
996   2023-11-17
997   2023-10-29
998   2023-12-05
999   2023-04-12
Name: Date, Length: 1000, dtype: datetime64[ns]

#Total Revenue Calculation

In [23]:
total_revenue = np.sum(Sales['Total Amount'])
print(total_revenue)

456000

#Average Quantity & Price

In [24]:
avg_quantity = np.mean(Sales['Quantity'])
print(avg_quantity)

2.514

In [25]:
avg_price = np.mean(Sales['Price per Unit'])
print(avg_price)

179.89

#Top-Selling Product Categories

In [30]:
top_products = Sales.groupby('Product Category')['Total Amount'].sum().sort_values(ascending=False)
print(top_products)

Product Category
Electronics    156905
Clothing       155580
Beauty         143515
Name: Total Amount, dtype: int64

#Most Frequent Buyers by Age Group

In [31]:
age_group_sales = Sales.groupby('Age')['Total Amount'].sum().sort_values(ascending=False)
print(age_group_sales)

Age
43    17970
34    16785
51    16065
19    14870
26    13980
22    13700
46    13090
21    12585
47    12505
37    11650
60    11590
35    11290
18    11215
38    11100
54    10505
31    10220
25     9900
50     9845
30     9790
55     9780
53     9510
59     9470
56     9440
40     9415
27     9385
57     9290
63     9250
64     9125
36     9105
28     8670
20     8645
42     8500
23     8220
62     8120
44     7560
58     7395
48     7240
52     7040
61     6730
29     6570
45     6325
33     6240
41     5650
32     5550
24     5415
49     5110
39     4595
Name: Total Amount, dtype: int64

#Gender-wise Sales Analysis

In [32]:
gender_sales = Sales.groupby('Gender')['Total Amount'].sum()
print(gender_sales)

Gender
Female    232840
Male      223160
Name: Total Amount, dtype: int64

In [35]:
gender_quantity = Sales.groupby('Gender')['Quantity'].sum()
print(gender_quantity)

Gender
Female    1298
Male      1216
Name: Quantity, dtype: int64

#Monthly Sales Trend

In [39]:
Sales['Month'] = Sales['Date'].dt.to_period('M')
monthly_sales = Sales.groupby('Month')['Total Amount'].sum()
print(monthly_sales)

Month
2023-01    35450
2023-02    44060
2023-03    28990
2023-04    33870
2023-05    53150
2023-06    36715
2023-07    35465
2023-08    36960
2023-09    23620
2023-10    46580
2023-11    34920
2023-12    44690
2024-01     1530
Freq: M, Name: Total Amount, dtype: int64

#Most Common Product Category

In [40]:
most_common_product = Sales['Product Category'].value_counts()
print(most_common_product)

Product Category
Clothing       351
Electronics    342
Beauty         307
Name: count, dtype: int64

#igh-Value Transactions (Sales > â‚¹1000)

In [41]:
high_value_sales = Sales[Sales['Total Amount'] > 1000]
print(high_value_sales)

     Unnamed: 0       Date  Gender  Age Product Category  Quantity  \
12           12 2023-08-05    Male   22      Electronics         3
14           14 2023-01-16  Female   42      Electronics         4
15           15 2023-02-17    Male   19         Clothing         3
30           30 2023-05-23    Male   44      Electronics         4
45           45 2023-06-26  Female   20      Electronics         4
..          ...        ...     ...  ...              ...       ...
941         941 2023-03-18    Male   51         Clothing         3
942         942 2023-10-16  Female   57         Clothing         4
945         945 2023-05-08    Male   62      Electronics         4
955         955 2023-08-19    Male   30         Clothing         3
969         969 2023-05-16    Male   59      Electronics         4

     Price per Unit  Total Amount    Month
12              500          1500  2023-08
14              500          2000  2023-01
15              500          1500  2023-02
30              300          1200  2023-05
45              300          1200  2023-06
..              ...           ...      ...
941             500          1500  2023-03
942             300          1200  2023-10
945             500          2000  2023-05
955             500          1500  2023-08
969             500          2000  2023-05

[153 rows x 9 columns]

In [42]:
total_items_sold = Sales.groupby('Product Category')['Quantity'].sum().sort_values(ascending=False)
print(total_items_sold)

Product Category
Clothing       894
Electronics    849
Beauty         771
Name: Quantity, dtype: int64

a#Total Items Sold (Quantity) per Product